    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  <script src="https://cdn.tailwindcss.com"></script>   
      <script>
    tailwind.config = {
      theme: {
        extend: {
          fontFamily: {
            nova: "'Proxima Nova', 'sans-serif'",
          },
          colors: {
            'azure': '#3778c2',
            'lyme': '#5fb523',
            'coal': '#434b54',
            },
          }
        }
      }
  </script>   

  <div class="flex flex-col h-screen justify-around">
    <div class="my-96">
      <img src=<%=image_path("applogo.png")%> alt="logo" class="w-11/12 m-auto">
    </div>
    <div class="flex flex-col mt-96">
      <%= link_to "Login", new_user_session_path, class: "bg-azure text-5xl font-nova text-white rounded text-center m-auto w-11/12 py-8 px-16" %>
      <%= link_to "Signup", new_user_registration_path, class: "text-5xl text-coal font-nova text-center m-auto w-11/12 py-8 px-16" %>
    </div>
  </div>
