<%= form_with model: @expense, method:'post', class:'form', url: expense_create_path(group_id: @group.id) do |form| %>

  

<div class="bg-azure flex justify-between p-5">

<%= link_to "â†", expense_index_path(group_id: @group.id), class: "font-nova text-white text-xl" %>

  <h2 class="font-nova text-white text-xl">NEW EXPENSE</h2>
    <div>
    <%= form.submit 'Save', class: "font-nova text-s text-white" %>
    </div>
</div>

<div class="flex flex-col p-5 my-5 gap-5">
  
  <div class="field">
    <%= form.label :name, class: "font-nova text-coal" %><br />
    <%= form.text_field :name, autofocus: true, autocomplete: "Name", required: true, class: "border border-gray-200 w-full" %>
  </div>

  <div class="field">
    <%= form.label :amount, class: "font-nova text-coal" %><br />
    <%= form.number_field :amount, autofocus: true, required: true, class: "border border-gray-200 w-full" %>
  </div>

  </div>



 </div>   


<% end %>

<br>

<div>

</div>
